.controls {
  background-color: $background;
  padding: 12px;
  border-radius: 12px;
}

.volume-control,
.brightness-control,
.microphone-control {
  background-color: mix($background, $color1, 90%);
  padding: 4px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 8px;
  min-width: 8px;
}

.bar-controls{
  background-color: $background;
  padding: 4px;
  padding-right: 15px;
  border-radius: 0 0px 8px 8px;
}

.volume-icon-control,
.brightness-icon-control{
  background-color: $background;
  margin: 0px 12px 0px 10px;
}

.brightness-control-bar trough,
.volume-control-bar trough {
  background-color: mix($background, $foreground, 80%);
  border-radius: 5px;
  min-height: 11px;
  min-width: 305px;
  margin: 6px 0;
}

.brightnes-control-bar trough highlight,
.volume-control-bar trough highlight {
  min-height: 11px;
  background-color: mix($color6, $foreground, 90%);
  border-radius: 10px;
}

